body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  border: 10px;
  padding: 10px;
  text-transform: capitalize;
}

h1 {
 color: #878787;
 font-size: 30px;
 line-height: 34px;
 font-weight: 100;
}
ul {
  margin: 0;
  padding: 0;
  
}
li {
  list-style: none;
  color: #878787;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
  margin: 0;
  padding: 0;
  
}
h5 {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 5px;
  margin: 50px;
  display: block;
  text-align: center;
  width: fit-content;
  
}
h6 {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  width: fit-content;
}

.weather-app {
 max-width: 800px;
 margin: 30px auto;
 padding: 20px;
 border: 1px solid #dadde1;
 border-radius: 5px;
}

.today-temp {
 font-size: 64px;
 margin: 0 auto;
 padding: 0px;
 line-height: 1;
}





.card-subtitle {
  margin-top: 10px;
}
.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.location-search {
  display: flex;
}
.btn {
margin: 5px;
}
.footer-links {
   font-size: smaller; 
   font-weight: bold;
   font-family:monospace;
   text-align: center;
   display: block;
   color: #878787;
   padding: 0px;
   line-height: 1;
   text-transform: none;
}